.tilt-card {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background-color: white;
    overflow: hidden;
}


.img-container {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: filter .2s ease-in-out;
    &:hover {
        filter: blur(3px);
    }
    @media screen and (max-width : 768px) {
        width: 95vw;
        height: calc(95vw/1.7);
    }
}

.travellusion {
    background-image: url(../img/travellsuion.webp);
}

.weather {
    background-image: url(../img/weather.webp);
}

.simone {
    background-image: url(../img/simone-scrnsht.png);
    &:hover {
        filter: blur(3px) brightness(.9);
    }
}


.travelista {
    background-image: url(../img/travelista-scrnsht.webp);
}

.pato {
    background-image: url(../img/pato-scrnsht.webp);
    &:hover {
        filter: blur(3px) brightness(.7);
    }
}

.marco {
    background-image: url(../img/marco.webp);
    background-color: rgb(15,15,15);
    background-size: 95%;
    background-repeat: no-repeat;
}

.apple, 
.nestcam,
.barok,
.haus,
.wissper,
.travellusion {
    filter: blur(0) brightness(.95);
    &:hover {
        filter: blur(3px) brightness(.8);
    }
}

.nestcam {
    background-image: url(../img/nestcam-screen.webp);
    
}

.apple {
    background-image: url(../img/apple-screen.webp);
}

.barok {
    background-image: url(../img/zomerbar.webp);
}

.wissper {
    background-image: url(../img/wissper.webp);
}

.haus { background-image: url(../img/haus.webp); }

.zinnegames { background-image: url(../img/zinnegames-small.webp); }

.with__details {
    &::before {
        text-shadow: 0 0 0.7em rgb(0 0 0 / 40%);
        color: white;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
        font-size: 1em;
        text-align: center;
        opacity: 0;
        z-index: 5;
        position: absolute;
        width: max-content;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
        filter: blur(10px);
        @media screen and (max-width : 768px) {
            filter: blur(0px);
        }
    }
    &:hover::before {
        opacity: 1;
        filter: blur(0);
    }
}

.tilt-card {
    position: relative;
    animation: deblur 1.5s cubic-bezier(.7,.04,1,.42);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    &::after {
        text-shadow: 0 0 0.7em rgb(0 0 0 / 40%);
        color: white;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
        font-size: 2em;
        opacity: 0;
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
        filter: blur(10px);
        @media screen and (max-width : 768px) {
            filter: blur(0px);
            
        }
    }
    &:hover::after {
        opacity: 1;
        filter: blur(0);
    }
}

// Title

.tilt-card:nth-of-type(1)::after {
    content: 'Haus303';
}
.tilt-card:nth-of-type(1)::before {
    content: 'Design, Html, CSS, JS';
}

.tilt-card:nth-of-type(2)::after {
    content: 'Zinne Games Festival';
    white-space: nowrap;
}
.tilt-card:nth-of-type(2)::before {
    content: 'Html, CSS, JS/Jquery, PHP, Wordpress Integration';
}

.tilt-card:nth-of-type(3)::after {
    content: 'Barok Zomerbar';
    white-space: nowrap;
}
.tilt-card:nth-of-type(3)::before {
    content: 'Design, Html, CSS, JS, Wordpress Integration';
}

.tilt-card:nth-of-type(4)::after {
    content: 'WISSPER';
    white-space: nowrap;
}
.tilt-card:nth-of-type(4)::before {
    content: 'Html, CSS, JS, Wordpress Integration';
}


.tilt-card:nth-of-type(5)::after {
    content: 'Weather App';
}
.tilt-card:nth-of-type(5)::before {
    content: 'Design, Html, CSS, JS';
}

.tilt-card:nth-of-type(6)::after {
    content: 'Travellusion';
}
.tilt-card:nth-of-type(6)::before {
    content: 'Design, Html, CSS, JS, Wordpress';
}

.tilt-card:nth-of-type(7)::after {
    content: 'Travelista';
}



// .tilt-card:nth-of-type(2)::after {
    //     content: 'Simone Café';
    // }
    
    .tilt-card:nth-of-type(8)::after {
        content: 'Pato Place';
    }
    
    
    
    .tilt-card:nth-of-type(9)::after {
        content: 'Marco Marino';
    }
    
    
    
    .tilt-card:nth-of-type(10)::after {
        content: 'Nestcam';
    }
    
    
    .tilt-card:nth-of-type(11)::after {
        content: 'Apple';
    }
    
    
    
    
    .scroll {
        display: flex;
        width: 100%;
        div {
            font-weight: 900;
            font-size: 4em;
            text-transform: uppercase;
            white-space: nowrap;
            color: #000;
            animation: animate 240s -240s linear infinite;
            will-change: transform;
            font-family: "Pilowlava", serif;
            font-weight: 600;
            font-size: 9em;
            filter: blur(20px) grayscale(1);
            letter-spacing: .2em;
            opacity: .5;
            &:nth-child(2) {
                animation: animate2 240s -120s linear infinite;
            }
        }
    }
    
    @keyframes deblur {
        0% {
            opacity: 0;
            filter: blur(30px);
        }
            100% {
                opacity: 1;
                filter: blur(0px);
            }
        }